@import url(https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Raleway);
@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great|Josefin+Slab|Antic+Slab);
* {
    padding: 0;
    margin: 0;
}

:root {
    --accent-color: #6F1313;
    --accent-alt-color:#BE201F;
    --article-color:#fff;
    --alt-article-color:#eee;
    --alt-background: #eee;
    --background: #fff;
    --alt-text-color: #444;
}

.countdown {
    padding-top: 40px;

}

.jumbotron {
    padding: 0vh 15vw;
    padding-top: 30vh;
    height: 70vh;
}

.teamWrapper {
    margin: auto;
}

.sponsorWrapper {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 70px;
}

.sponsorWrapper img{
    padding: 50px;
}

.faqWrapper{
    padding: 10px 0px;
    margin: auto;
    padding-bottom: 35vh;
}

.faqWrapper h3 {
    font-style: italic;
}

.tier{
    width: 90%;
    float: left;
}

.profile{
    background-color: var(--alt-article-color) 
}

body{
    background-color: var(--background)
}

h1 {
    padding-bottom: 5vh;
    font-size: 11vh;
    overflow-wrap: break-word;
}

h2 {
    color: var(--accent-color);
    font-size: 5vh;
    margin-bottom: 20px;
    letter-spacing: 0.2vw;
    text-shadow: #222 2px;
}

h3 {
    font-weight: 600;
    font-size: 2rem;
    color: var(--accent-color);
}

.jumbotron h3{
    color: var(--alt-text-color);
    width: 110%;
}

h4 {
    color: #222;
    font-size: 1.5rem;
    padding-bottom: 15px;
}

strong {
    color: var(--accent-color);
}

button{
    background-color: var(--accent-color);
    border-radius: 20px;
    border: 2px solid var(--accent-color);
    padding:10px 30px;
    margin-top:20px;
    margin-bottom:50px;
    color:#fff;
    font-size: 1.8rem;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s; 
}

button a{
    color: #fff;
}

button:hover{
    background-color: #fff;
    border: 2px solid var(--accent-color);
    color:#000;
}

svg{
    width:64px;
    height:64px;
    fill: var(--accent-color);
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s; 
}

svg:hover {
    fill: var(--accent-alt-color);
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--alt-text-color);
}

span {
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: 800;
    padding: 10px;
}

div{
    font-family: 'Raleway', sans-serif;
}

section {
    padding: 0vh 10vw;
    padding-top: 10vh;
    overflow: hidden;
}

section:nth-child(even){
    background-color: var(--alt-background);
    padding-bottom: 10vh;
}

article {
    background-color: var(--article-color);
    border-radius: 25px;
    padding: 10px;
    margin: 2vh 3.2vw;
    float: left;
    width: 31vw;
    text-align: center;
}

article h4 {
    padding: 20px;
}

article:nth-child(even){
    float: right;
}

article svg{
    width:32px;
    height:32px;
    padding:5px;
}

section p {
    display: inline;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

a:hover,
a:active {
    color: var(--accent-alt-color);
}

footer {
    text-align: center;
    padding: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 800;
    clear: left;
    margin: auto;
}

ul {
    list-style: none;
}

li {
    display: inline;
}

footer a {
    padding: 2vw;
    padding-top: 2vh;
    font-size: 1rem;
    text-decoration: none;
    fill: var(--accent-color);
}

footer p {
    font-size: 1rem;
    padding-top: 4vh;
}

img{
    padding: 2vw auto;
    padding-top:30px;
    margin:auto;
    text-align: center;
}

::-webkit-scrollbar {
    display: none
}

@media (max-width: 768px) {
    article {
        width: 70vw;
    }
    h1 {
        font-size: 10vw;
    }
    h2 {
        font-size: 8vw;
    }
    h3,
    .jumbotron span,
    .jumbotron p {
        font-size: 5vw;
        padding: 1px;
    }
    .badge {
        margin-left: 70%;
    }

    img{
        transform: scale(0.7);
        padding:10px;
    }
}